%h1 New site

%form{ action: '#', id: 'map-search' }
  = text_field_tag 'map-search-box'
  = submit_tag 'Search'

#map_canvas{ data: { lat: '-34.397', lng: '150.644', editable: 'true' } }
= render 'form'

= link_to 'Back', sites_path
